<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    
  </head>
  <body>
    <form action="/auth">
      <input type="text" name="firstName" placeholder="First Name">
      <input type="text" name="lastName" placeholder="Last Name">
      <input type="email" name="email" placeholder="E-Mail">
      <input type="submit" value="Register">
    </form>
    <form action="/login">
      <input type="submit" value="Login">
    </form>
  </body>
</html>
